In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [2]:
catalog.list()

['train',
 'test',
 'sample_submission',
 'modeling_data',
 'inference_data',
 'submission_data',
 'model',
 'inference_model',
 'parameters',
 'params:model_options',
 'params:model_options.test_size',
 'params:model_options.random_state',
 'params:model_options.scoring',
 'params:col_maps',
 'params:col_maps.TARGET_COL',
 'params:col_maps.ID_COL']

In [4]:
sample_submission = catalog.load("sample_submission")

[08/16/23 00:53:36] INFO     Loading data from 'sample_submission' (CSVDataSet)...              ]8;id=353626;file:///Users/mauricioaraujo/anaconda3/envs/spaceship/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=486858;file:///Users/mauricioaraujo/anaconda3/envs/spaceship/lib/python3.9/site-packages/kedro/io/data_catalog.py#345\345]8;;\

In [16]:
sample_submission

     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]

In [17]:
submission_data = catalog.load("submission_data")

[08/16/23 01:00:57] INFO     Loading data from 'submission_data' (CSVDataSet)...                ]8;id=901660;file:///Users/mauricioaraujo/anaconda3/envs/spaceship/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=852947;file:///Users/mauricioaraujo/anaconda3/envs/spaceship/lib/python3.9/site-packages/kedro/io/data_catalog.py#345\345]8;;\

In [18]:
submission_data

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01         True
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01         True
4276     9277_01         True

[4277 rows x 2 columns]

In [12]:
modeling_data = catalog.load("modeling_data")

[08/16/23 00:56:34] INFO     Loading data from 'modeling_data' (ParquetDataSet)...              ]8;id=752808;file:///Users/mauricioaraujo/anaconda3/envs/spaceship/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=985044;file:///Users/mauricioaraujo/anaconda3/envs/spaceship/lib/python3.9/site-packages/kedro/io/data_catalog.py#345\345]8;;\

In [14]:
TARGET_COL = "Transported"
modeling_data[TARGET_COL] = np.where(
    modeling_data[TARGET_COL],
    1,
    0
)

In [21]:
modeling_data.head(2)

,PassengerId,HomePlanet,CryoSleep,Destination,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Cabin_Deck,Cabin_Side,Cabin_region_0-300,Cabin_region_300-600,Cabin_region_600-900,Cabin_region_900-1200,Cabin_region_1200-1500,Cabin_region_1500-1800,Cabin_region_1800-2100,People_in_Cabin_Num,People_in_Cabin_Deck,Family_Size,Group_Size,Age_Cat,Solo
0,0001_01,Europa,False,TRAPPIST-1e,False,0.0,0.0,0.0,0.0,0.0,0,B,P,1,0,0,0,0,0,0,18.0,779.0,1.0,1,Adult,1
1,0002_01,Earth,False,TRAPPIST-1e,False,109.0,9.0,25.0,549.0,44.0,1,F,S,1,0,0,0,0,0,0,18.0,2794.0,4.0,1,Pre_Adult,1

In [20]:
modeling_data.dtypes

PassengerId                 object
HomePlanet                  object
CryoSleep                   object
Destination                 object
VIP                         object
RoomService                float64
FoodCourt                  float64
ShoppingMall               float64
Spa                        float64
VRDeck                     float64
Transported                  int64
Cabin_Deck                  object
Cabin_Side                  object
Cabin_region_0-300           int64
Cabin_region_300-600         int64
Cabin_region_600-900         int64
Cabin_region_900-1200        int64
Cabin_region_1200-1500       int64
Cabin_region_1500-1800       int64
Cabin_region_1800-2100       int64
People_in_Cabin_Num        float64
People_in_Cabin_Deck       float64
Family_Size                float64
Group_Size                   int64
Age_Cat                   category
Solo                         int64
dtype: object

In [8]:
catalog.list()

['train',
 'test',
 'sample_submission',
 'modeling_data',
 'inference_data',
 'submission_data',
 'model',
 'inference_model',
 'parameters',
 'params:model_options',
 'params:model_options.test_size',
 'params:model_options.random_state',
 'params:model_options.scoring',
 'params:col_maps',
 'params:col_maps.TARGET_COL',
 'params:col_maps.ID_COL']

In [7]:
sample_submission

     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]